* {
    max-width: 700px;
    margin: auto;
  }
  
  
  
  div {
    border-radius: 5px;
  }
  
  
  
  #title {
    margin-left: 3%;
  }
  

  .name{
    text-align: center;
  }
  .links{
    text-align: center;
  
  }
  
  .left {
    height: 1000px;
    width: 45px;
    background-color: #e0eeee;
    float: left;
    position: fixed;
  }
  
  
  
  .stuff {
    display: inline-block;
    margin-top: 6px;
    margin-left: 55px;
    width: 75%;
    height: 1000px;
  }
  
  p,
  li {
    font-family: 'Cormorant Garamond';
  }
  
  .subheadings {
    font-size: 20px;
    font-weight: bold;
  }
  
  #name {
    font-family: Sacramento;
    float: right;
    margin-top: 10px;
    margin-right: 4%;
  }
  
  a {
    color: black;
    text-decoration: none;
  }
  
  @media only screen and (max-width: 430px) {
    .left,
    .right {
      display: none;
    }
    .stuff {
      width: 100%;
      margin-left: 10px;
    }
  }